.dropdown {
    //cursor: pointer;
    display: inline-block;
    position: relative; 
}

// Menu (Por padrão, abre para esquerda)
.dropdown-menu {
    //cursor: pointer;
    left: 0; 
    z-index: 1;
    transform-origin: left top;
    position: absolute;
    transition: all 0.2s ease-in-out;
    transform: scale(0);


    &.active {
        transform: scale(1);

    }

    // Menu largura tela cheia
    &.dropdown-menu-full {
        width: $full;
        position: fixed;
    }

    // Menu à direita
    &.dropdown-menu-right {
        left: unset;
        right: 0;
        transform-origin: right top;
        position: absolute;
    }

    // Menu centralizado
    &.dropdown-menu-center {
        right: unset;
        left: $half;
        transform-origin: left top;
        transform: scale(0) translate(-$half, 0);
        &.active {
            left: $half;
            transform: scale(1) translate(-$half, 0);
        }
    }
    
    //FLECHAS
    &-arrow{
      &:before{
        //border: solid transparent;
        content: " ";
        //height: 0;
        //width: 0;
        height: $dimen-2x - 10;
        width: $dimen-2x - 10;
        bottom: 100%;
        background: $color-white;
        position: absolute;
        pointer-events: none;
        @include transform(scale(1) rotate(45deg) translate(-$half, 0));
        
        &.dropdown-menu-right {
            //right: 100%;
            right: -100%;
        }

        
      }


      &:after{border-width: 8.5px;border-bottom-color: $color-third;}
      &:before{border-width: 9px;border-bottom-color: $color-default;}
      &.dropdown-menu-left{
        &:before, &:after{left: 10%;}
      }
      &.dropdown-menu-right{
          right: -100%;
          margin-top: 40%; // Margem do dropdown com seta (tamanho da seta dividido por 2)

        &:before, &:after{
            //right: 6%;
            right: 7%;
            top: 0;
        }
      }
      &.dropdown-menu-center{
        &:before, &:after{left: $half;}
      }

      &.dropdown-arrow { 
            
        &.dropdown-
        &:before {
            margin-top: $dimen-2x / 2; // Margem do dropdown com seta (tamanho da seta dividido por 2)
            @include transform(scale(1) rotate(45deg) translate(-$half, 0));   
        }
          
        .dropdown-menu {
            margin-top: $dimen-2x / 2; // Margem do dropdown com seta (tamanho da seta dividido por 2)
        }
        
    }
    }
}


/* .dropdown {
  //cursor: pointer;
  display: inline-block;
  position: relative;
  z-index: 1;

  // Menu (Por padrão, abre para esquerda)
   .dropdown-menu {
      //cursor: pointer;
      right: -100%;
      z-index: 2;
      top: 100%;
      transform-origin: right top;
      position: absolute;
      transition: all 0.2s ease-in-out;
      transform: scale(0);
  }

  &.dropdown-arrow {
      &:before {
          content: "";
          top: 100%;
          left: 50%;
          position: absolute;
          margin-left: - (($dimen-2x * 29) / 100) / 2;
          height: $dimen-2x - 10;
          width: $dimen-2x - 10;
          background: $color-white;
          z-index: 100;
          transition: all 0.2s ease-in-out;
          margin-top: $dimen-2x; 
          @include transform(scale(0) rotate(45deg) translate(-$half, 0));             
      }
  }

  

  // Menu ativo
  &.active {

      &.dropdown-arrow {  
          &:before {
              margin-top: $dimen-2x / 2; // Margem do dropdown com seta (tamanho da seta dividido por 2)
              @include transform(scale(1) rotate(45deg) translate(-$half, 0));   
          }
                    
          

          
          .dropdown-menu {
              margin-top: $dimen-2x / 2; // Margem do dropdown com seta (tamanho da seta dividido por 2)
          }
          
      }

      .dropdown-menu {
          transform: scale(1);

          .user {
              max-width: fit-content;
          }
      }

      &.dropdown-center {
          .dropdown-menu {
              left: $half;
              transform: scale(1) translate(-$half, 0);
          }
      }



      // Fundo do dropdown quando está ativo
      &:after {
          content: "";
          position: fixed;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          z-index: -1;
          opacity: 0.5;
          background: $color-black;
      }
  }

  // Menu a esquerda
  &.dropdown-left {
      .dropdown-menu {
          left: -100%;
          right: unset;
          transform-origin: left top;
          position: absolute;
      }
  }

  // Menu centralizado
  &.dropdown-center {
      .dropdown-menu {
          right: unset;
          left: $half;
          transform-origin: left top;
          transform: scale(0) translate(-$half, 0);
      }
  }
} */