@font-face {
    font-family: FontPrimary;
    font-display: swap;
    src: url(font/poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: FontPrimary;
    font-display: swap;
    src: url(font/poppins/Poppins-Bold.ttf);
    font-weight: bold;
}



//@font-face {
//    font-family: FontPrimary;
//    font-display: swap;
//    src: url(font/quicksand/Quicksand-Regular.ttf);
//}
//
//@font-face {
//    font-family: FontPrimary;
//    font-display: swap;
//    src: url(font/quicksand/Quicksand-Bold.ttf);
//    font-weight: bold;
//}

