.search-box{
    display: none;
    z-index: auto;
    position: fixed;
    width: 100%;
    height: 90px;
    left: 0;
    top: 115px; 

    &.search-bar {
        height: 80px;
        width: 100%;
        border: none;
        margin-right: 0;
        padding: 0 6% 0 6%;
        border-radius: 0;
    }

    .search-ic {
        padding-top: 5px;
    }

    .input-search {
        font-size: $font-xxl;
        font-style: italic;
        color: $color-secundary;

        &::-webkit-input-placeholder{
            font-size: $font-xxl;
        }

        &:-moz-placeholder { 
            font-size: $font-xxl;
            opacity: 1;
        }

        &::-moz-placeholder {
            font-size: $font-xxl;
            opacity: 1;
        }

        &:-ms-input-placeholder {
            font-size: $font-xxl;
        }
    }
}