@font-face {
    font-family: FontPrimary;
    font-display: swap;
    src: url(font/poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: FontPrimary;
    font-display: swap;
    src: url(font/poppins/Poppins-Bold.ttf);
    font-weight: bold;
}

// @font-face {
//     font-family: FontAccent;
//     font-display: swap;
//     src: url(font/poppins/Poppins-Bold.ttf);
// }

@font-face {
    font-family: FontAccent;
    font-display: swap;
    src: url(font/poppins/Poppins-Bold.ttf);
    font-weight: bold;
}
