
.select {
    display: inline-block;
    position: relative;

    .options {
        background-color: #F5F5F5;
    }
}

.select:after {
    font-family: AgenciaIcons;
    content: '\e919';
    color: #707070;
    font-size: 7.5px;
    position: absolute;
    right: 0;
    top: 40%;
    padding-right: 15px;
}

.select-container {
    position: relative;
    user-select: none;
    width: 100%;
}

.select-styled {
    &.open {
        & .option-list {
            
            opacity: 1;
            display: inline-block;
            visibility: visible;
            pointer-events: all;

        }
    }
}

.option-item:hover {
    cursor: pointer;
    background-color: $color-select-hover;
}
.option-item {

    &.selected{
        background-color: $color-select-selected;
    }
    
}

.option-list {
    position: absolute;
    display: block;
    top: 103%;
    left: 7%;
    right: 7%;
    opacity: 0;
    visibility: hidden;
    display: none;
    pointer-events: none;
    z-index: 2;
}
